.input-text {
  padding: 0 20px;
  line-height: 40px;
  width: 100%;
  font-size: 14px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-family: "fi-font", sans-serif;

  &:focus {
    border-color: $fi-blue;
  }

  &.alt {
    width: 60%;
  }
}